html body{
        background-color: black;
}

.container{
    padding: 10px 20px 10px 20px;
    background: black;
}

ul{
    list-style-type: none;
    overflow: hidden;
    padding-top:30px;
    
}
li a{
    display: block;
    font-weight: bold;
    font-family: "Lucida Console";
    text-decoration: none;
    float: right;
    color: white; 
    padding:10px 45px 20px 10px;
}

li a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display:block;
    height: 3px;
    left: 50%;
    background: red;
    transition: all 0.3s ease-in-out;
    width: 0;
    
}


li a:hover:after{
   color:aqua;
   cursor: pointer;
   border-radius: 25px;
   transition: 1s ease-out;
   width: 100%; 
   left: 0; 
 
}

#name{
    font-weight: bold;
    font-family: "Elianto";
    color: white;
}

.content{
  
    padding: 0px 0px 0px 45px;
}

.content p{
    font-size: 40px;
    font-family: "Lucida Console";
    color : red;
    
}

.fspan{
    color:aqua;
    font-weight: bolder;
}

#img img{
    height:300px;
}


