html body{
        background-color: black;
}

.container{
    padding: 10px 20px 10px 20px;
    background: black;
}

ul{
    list-style-type: none;
    overflow: hidden;
    padding-top:30px;
    
}
li a{
    display: block;
    font-weight: bold;
    font-family: "Lucida Console";
    text-decoration: none;
    float: right;
    color: white; 
    padding:10px 45px 20px 10px;
}

li a:hover{
   color: aqua;
   cursor: pointer;
   border-radius: 25px;
   transition: 1s;
}

#name{
   
    font-family: "Elianto";
}

.content{
  
    padding: 0px 0px 0px 45px;
}

.content p{
    font-size: 40px;
    font-family: "Lucida Console";
    color : red;
    
}

.fspan{
    color:aqua;
    font-weight: bolder;
}

#img img{
    height:300px;
}